@font-face {
  font-family: 'Gropled';
  src: url('../fonts/GropledBold/GropledBold.woff2') format('woff2'),
      url('../fonts/GropledBold/GropledBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'TildaSansMedium';
	src: url('../fonts/TildaSans-Medium/TildaSans-Medium.eot');
	src:
	     url('../fonts/TildaSans-Medium/TildaSans-Medium.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/TildaSans-Medium/TildaSans-Medium.woff2') format('woff2'),
	     url('../fonts/TildaSans-Medium/TildaSans-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TildaSansRegular';
	src: url('../fonts/TildaSans-Regular/TildaSans-Regular.eot');
	src:
	     url('../fonts/TildaSans-Regular/TildaSans-Regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/TildaSans-Regular/TildaSans-Regular.woff2') format('woff2'),
	     url('../fonts/TildaSans-Regular/TildaSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
