@use '../variables' as *;
@use '../mixins';

html {
  font-size: 10px;
}

.page {
  background-color: $main-gray;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden;
  &__title {
    max-width: 600px;
    @include mixins.title-h1;
    &--video {
      @media screen and (max-width: 540px) {
        padding: 32px;
        max-width: 30%;
      }
      @media screen and (max-width: 400px) {
        display: none;
      }
    }
    &--undervideo {
      @media screen and (max-width: 540px) {
        display: none;
      }
      @media screen and (max-width: 400px) {
        display: block;
        color: $main-black;
      }
    }
  }
  &__arrow {
    @include mixins.page-arrow($main-white);
  }
}