@use '../variables' as *;
@use '../mixins';

html {
  font-size: 10px;
}

.page {
  background-color: $main-gray;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  &__arrow {
    @include mixins.page-arrow($main-white);
  }
}